/* fonts */

@font-face {
    font-family: 'paytone_one';
    src: url('media/fonts/paytoneone-regular-webfont.woff2') format('woff2'),
         url('media/fonts/paytoneone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'akshar';
    src: url('media/fonts/akshar-variablefont_wght-webfont.woff2') format('woff2'),
         url('media/fonts/akshar-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* the basics */

html {
 scroll-behavior: smooth;
}

h1, Q {
    font-family: 'paytone_one';
    font-size: 45px;
    text-align: center;
}

/* .H1o {
    color: #F5F5F5;
} */

body {
    margin: auto;
    background-color: #f8f7f3;
    justify-content: center;
}

h2 {
    font-family: 'paytone_one';
    font-size: 40px;
    text-align: center;

}

h3 {
    font-family: 'paytone_one';
    font-size: 32px;
    text-align: center;
    padding: 1rem;
    padding-top: 2rem;


}

p, a {
    font-family: 'akshar';
    font-size: 25px;
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 65rem;
    background-color: #f8f7f3;
}

.menu {
    padding-top: 1rem;
    width: 25rem;
    display: flex;
    justify-content: space-between;
    
}

a {
    border-bottom: 3px solid #f8f7f3;
    padding-bottom: 0.60rem;
}


a:hover {
    /* text-decoration:underline; */
    text-decoration: underline;

}

main {
    width: 65rem;
    margin: auto;
    background-color: #f8f7f3;
    
}

footer {
    background-color: black;
    padding-top: 1rem;
    color:#F5F5F5;
    padding-bottom: 1rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 2rem;
}

.skills, .projectsitems, .contact {
    display: flex;
    justify-content: space-evenly;
}

/* intro  */

/* service cards  */

.service {
    padding-bottom:10rem;
    padding-top: 5rem;
}

.skills {
    background-image: url(./media/techs.jpg);
    background-size: 70rem;
    height: 80vh;
    margin-left: -2rem;
    margin-top: -5rem;

}

.skill {
    margin-top: 9rem;
    height: 20rem;
    width: 17rem;
    border-color: black;
    border: 1rem;
    background-color:white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 10px grey;
}
.titlecards {
    display: flex;
    justify-content: center;
}

.skillicon {
    width: 5rem;
    margin-top: -2.5rem;
    padding-left: 2rem;
}


/* i do not understand my code  */
.centered {
    display: flex;
    justify-content: center;
}

.projectsitems {
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.projectpic {
    cursor: pointer;
    
}

.projectpic:hover {
    cursor: pointer;

}


/* icons + hovers */

.fa {
    color: black;
}

.spotify:hover{
    fill: #1DB954;
}

.twitter:hover {
    fill: #1DA1F2;
}

.insta:hover {
    fill: #C13584;
}

.github:hover {
    fill:#833AB4;
}

.linked:hover {
    fill: blue;
}

#more {
    display: none;
}

.intro  {
    width: 50rem;
    padding-left: 5rem;
}



/* see more thing */
#btnprojects {
    display: block;
    margin: 0 auto;
}

#dots {
    display: none;
}

.quote {
    padding: 8rem;
    margin-bottom: 10rem;
    margin-top: 8rem;
}

.aboutme  { 
    padding-bottom:10rem;
    padding-top:10rem;
    display: flex;
    justify-content: space-between;
}

.contactpage {
    margin-top: 10rem;
}

.projects, .service {
    padding-bottom:10rem;
    padding-top:5rem;

}

.socialicon {
    width: 30px;
    margin: auto;
}

/* contact me section  */
.gegevens {
    width:25rem ;
    display: flex;
    justify-content: space-evenly;
    padding:0.7rem
}

.socials  {
    width:25rem ;
    display: flex;
    justify-content: space-between;
    padding:0.7rem;
    vertical-align: middle; 
    margin: auto;
}

/* buttons */

.btn {
    display:flex;
    justify-content:end;
    padding-top: 2rem;
    
} 

button:hover {
    background-color: black;
    color: white;
    cursor:pointer;
  }

button {
    margin-right: 3rem;
    padding: 15px;
    width: 12rem;
    border-radius: 5px;
    background: none;
}

.posterbtn {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: transparent;
    border-color: transparent;
    display:flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.posterpresentatie {
    width: 40rem;
}

.mecontainer {
    width: 20rem;
    margin: auto;
}

.photome {
    width: 30rem;
}

.mepic {
    width: 25rem;
    border-radius: 5px;
    margin: auto;
}

.aboutmecontent {
    width: 50rem;
    margin:  auto;
    margin-left: 5.5rem;
}

.abme {
    display: flex;
    justify-content: space-evenly;
    width: 65rem;
    margin: auto;
}



.posterbtn:hover {
    background-color: rgba(0,0,0,0.3);
    cursor:pointer;
  }

  /* overlays  */

.projectpage{
    display: flex;
    justify-content: center;

}

#overlay, #overlaypp, #overlayproject {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
  }

  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }


  .mecontainer {
      height: 40rem;
      width: 70rem;
      /* background-color:#f8f7f3; */
      border-radius: 2rem;
  }