body {
    width: 80%;
    margin: auto;
}

header {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 80%;
    background-color: white;
}

footer {
    background-color: #C3B1E1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu {
    width: 25%;
    display: flex;
    justify-content: space-between;
    
}

.aboutme, .projects {
    display: flex;
    justify-content: space-evenly;
}



.intro  {
    width: 40%;
    padding: 2rem;
}

.quote {
    background-image: linear-gradient(white, #C3B1E1, #C3B1E1, #C3B1E1, white);
    background-color: #C3B1E1;
    margin: auto;
    padding: 8rem;
    margin: auto;
}

section {
    margin-bottom: 10rem;
    margin-top: 10rem;
}

.socialicon {
    width: 30px;
}


.socials  {
    width:30% ;
    display: flex;
    justify-content: space-between;
    padding:0.7rem
}
.ggitem {
    width:30%;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
}

.btnintro {
    display:flex;
    justify-content:end;
} 

button {
    margin-right: 3rem;
    padding: 10px;
}

.mephoto {
    width: 40%;
    margin: auto;
    border-radius: 2rem;
}



.contact {
    margin-bottom: 2rem;
    margin-top: 8.5rem;
}